SECRET_KEY=miclavesupersecreta123
DATABASE_URL=postgresql+psycopg://postgres:1234@localhost:5432/integrador

#Mercado pago sandbox
MP_ACCESS_TOKEN=APP_USR-138703402999292-060610-896200ef5a79cd5496bd8929322fd2ff-2072098613
MP_PUBLIC_KEY=APP_USR-b812000f-acfe-4381-babf-c87acd879d72

#Url del webhook (externo: ngrok)
#solo si se quiere probar webhook ipn desde mp
MP_WEBHOOK_URL=https://apophysate-waggly-bula.ngrok-free.dev/pagos/webhook

#Url publica de ngrok para back_urls https en la preferencia de mp
#Necesario porque MP exige https en back_urls en produccion
NGROK_URL=https://apophysate-waggly-bula.ngrok-free.dev/
#ngrok http  8000 (puerte que corre el back ) 
CLOUDINARY_CLOUD_NAME=db7vcstz5
CLOUDINARY_API_KEY=794424153992883
CLOUDINARY_API_SECRET=0w0Rh2koauSpnAkkDfcwoBvEvQg